/* CONFIGURAÇÃO LOGO */  
.logo {
    color: #CED6FF;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-left: 40px;
}
/* FINAL CONFIGURAÇÃO LOGO */  

/* CONFIGURAÇÃO FUNDO */
html {
    background-color: black;
}
/* FINAL CONFIGURAÇÃO FUNDO */
