/* CONFIGURAÇÃO LOGO */  
.be-vietnam-pro-semibold-italic {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

.logo-config {
    color: #CED6FF;
}
/* FINAL CONFIGURAÇÃO LOGO */  

/* CONFIGURAÇÃO FUNDO */

/* FINAL CONFIGURAÇÃO FUNDO */
html {
    background-color: black;
}