/* CONFIGURAÇÃO HEADER */

/* configuração da logo */  
.logo {
    color: #CED6FF;
    font-weight: 700;
    letter-spacing: -0.5px;
    margin-left: 40px;
    cursor: pointer;
}

/* configuração das categorias */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header nav {
    margin-left: auto;
    margin-right: 30px;
}

header nav ul {
    list-style-type: none;
    margin-right: 20px;
}

header nav ul li {
    display: inline;
    padding-left: 10px;
    margin-left: 10px;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li a {
    font-weight: 800;
    letter-spacing: -0.5px;
    color: white;
    text-decoration: none;
    font-size: smaller;
}

/* configuração do botão */
.botao {
    background-color: black;
    color: #ED3A85; 
    border: 1px solid #ED3A85;
    padding: 5px 25px;
    cursor: pointer; 
    margin-right: 20px;
    border-radius: 30px;
    font-weight: 300;
    font-size: medium;
}

/* CONFIGURAÇÃO FUNDO */
html {
    background-color: black;
}

